env.sh
log/*.log
.idea
.vscode/
.DS_Store
jupyterhub/data-science-notebook/requirements.txt
jupyterhub/data-science-notebook/spark-defaults.conf
jupyterhub/package-dependencies/requirements.txt
jupyterhub/pyspark-notebook/requirements.txt
airflow/requirements.txt
airflow/current/requirements.txt