keras==2.2.4
matplotlib==3.0.3
mysql-connector-python==8.0.16
nb_black==1.0.4
numpy==1.16.3
pandas==0.24.2
petastorm[tf]==0.7.3
scikit-learn==0.20.3
seaborn==0.9.0
tensorflow==1.13.1
tensorflow_probability
tqdm==4.31.1
