node-scheduler.include-coordinator={{getv "/presto/include/coordinator"}}
coordinator={{getv "/presto/coordinator/enabled"}}
discovery-server.enabled={{getv "/presto/discovery/enabled"}}
http-server.http.port={{getv "/presto/http/port"}}
discovery.uri={{getv "/presto/discovery/uri"}}
query.max-memory={{getv "/presto/query/maxmemory"}}
query.max-memory-per-node={{getv "/presto/query/maxmemory/pernode"}}
query.min-expire-age={{getv "/presto/query/max/age"}}
query.max-concurrent-queries={{getv "/presto/query/max/concurrent/queries"}}
query.low-memory-killer.enabled={{getv "/presto/lowmemory/killer/enabled"}}
task.concurrency={{getv "/presto/task/concurrency"}}
task.max-worker-threads={{getv "/presto/task/max/worker/threads"}}
node-scheduler.min-candidates={{getv "/presto/nodescheduler/min/candidates"}}
{{getenv "EXTRA_CONFIG_PROPS1"}}
{{getenv "EXTRA_CONFIG_PROPS2"}}
{{getenv "EXTRA_CONFIG_PROPS3"}}
{{getenv "EXTRA_CONFIG_PROPS4"}}
{{getenv "EXTRA_CONFIG_PROPS5"}}
